.form {
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;

    &__title {
        font-family: 'Shadows Into Light', cursive;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        margin-bottom: 16px;
    }

    &__container {
        width: 600px;

    }

    &__input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    &__label {
        margin-bottom: 8px;
        font-size: 26px;
    }

    &__input {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        height: 30px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid rgb(202, 202, 202);
        transition: ease-in-out .5s;

        &:focus-visible {
            outline: none;
        }

        &:focus {
            border-bottom: 2px solid rgb(117, 117, 117);
        }
    }

    &__text-area {
        font-family: 'Montserrat', sans-serif;
        height: 50px;
        resize: none;
        border: 2px solid rgb(202, 202, 202);
        transition: ease-in-out .5s;
        font-size: 16px;

        &:focus-visible {
            outline: none;
        }

        &:focus {
            border: 2px solid rgb(117, 117, 117);
        }
    }

    &__button {
        font-family: 'Shadows Into Light', cursive;
        height: 40px;
        color: white;
        width: 100%;
        border-radius: 0;
        text-decoration: none;
        border: none;
        margin-bottom: 16px;
        font-size: 24px;
        cursor: pointer;
        transition: ease-in-out .5s;
        background-color: black;

        &:hover {
            background-color: rgb(46, 46, 46);

        }
    }
}